<div class="card">
	<h5 class="card-header bg-default">
		<span class="float-md-left float-xs-left">
			Control Job no. :: '{{ (selectedItem != null) ? selectedItem.jobno : '-' }}'
		</span>
		<span class="float-right">
			Emp No. :: {{ emp_no || '-'}}
		</span>
	</h5>
	<div class="card-body">
		<form>
			<div class="form-group row">
				<button mat-raised-button color="primary" (click)="openDialog()"
					[disabled]="checkDisableCheckMaterial()">Confirm Material</button>
			</div>
			<div class="form-group row">
				<button class="col-md-2 col-sm-3 col-xs-3 btn btn-success btn-lg" 
					(click)="startWorkProcess(selectedItem, start_prgid)" 
					[disabled]="checkDisableStart()"
					autofocus
					><strong [ngxFitText]>START</strong></button>
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-5 col-sm-3 col-xs-3">
					<app-stop-watch [stage]="stopWatchStage" [timeStartTimer]="startTimer"></app-stop-watch>
				</div>
				<div class="col-md-4 col-sm-3 col-xs-3">
					<button type="button" class="btn btn-outline-danger"
						(click)="toggleBreak(selectedItem.jobno, emp_no)"
						[disabled]="!clickStart"
						[ngClass]="{
							'active': this.stateBreak == true
						}"><strong [ngxFitText]>Break</strong></button>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3" for="wo_no">
					<strong [ngxFitText]>OK QTY.::</strong>
				</label>
				<div class="col-md-9">
					<input class="form-control" type="number" 
						name="fg_qty" 
						id="fg_qty" 
						placeholder="OK QTY..."
						[(ngModel)]="fg_qty"
						[disabled]="checkDisableInputQty()"
						required
						/>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-3" for="wo_no">
					<strong [ngxFitText]>NG QTY.::</strong>
				</label>
				<div class="col-md-9">
					<input class="form-control" type="number" 
						name="ng_qty" 
						id="ng_qty" 
						[(ngModel)]="ng_qty"
						[disabled]="checkDisableInputQty()"
						required
						/>
				</div>
			</div>
			<div class="form-group row">
				<button type="submit" class="col-md-2 btn btn-danger btn-lg" 
					(click)="stopWorkProcess(selectedItem, stop_prgid)"
					[disabled]="checkDisableFinish()"
					><strong [ngxFitText]>FINISH</strong></button>
				<div class="col-md-1"></div>
				<button class="col-md-2 btn btn-default btn-lg"
					(click)="clearWorkProcess()"
					[disabled]="checkDisableClear()"
					><strong [ngxFitText]>CLEAR</strong></button>
			</div>
		</form>
	</div>
	<div class="card-footer text-muted">
		<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
			<label class="btn btn-outline-danger">
				<input type="radio" name="mainteinance" id="mainteinance" autocomplete="off"> Mainteinance
			</label>
			<label class="btn btn-outline-warning">
				<input type="radio" name="leader" id="leader" autocomplete="off"> Leader
			</label>
			<label class="btn btn-outline-info">
				<input type="radio" name="handling" id="handling" autocomplete="off"> Handling
			</label>
		</div>
	</div>
</div>