<div class="container-fluid mt-1">
	<div class="card w-100 border-dark">
		<div class="card-header bg-dark">
			<div class="row">
				<h3 class="col-md-3 col-sm-6 text-white">Work Process</h3>
				<input class="form-control col-md-2 col-sm-6" 
					type="text" maxlength="6" 
					name="emp_no" placeholder="Emp No." [(ngModel)]="emp_no"
					(input)="setCookie('emp_no', $event.target.value)" />
			</div>
		</div>
		<div class="card-body">
			<div class="row">
				
				<div class="col-md-7">
					<!--
					<app-confirm-last-job></app-confirm-last-job>
					-->
				</div>
				<div class="col-md-5">
					<div class="row">
						<app-movejob></app-movejob>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-1">
					<app-list-work-process [_confirmItem]="getSelectedItem()" 
						(jobNo)="setJobNo($event)"></app-list-work-process>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 pt-1">
					<app-show-work-process-detail [jobNo]="jobNo" [isOnProcess]="isOnProcess" (objectSelected)="getOutputWPModel($event)"></app-show-work-process-detail>
					<hr/>
					<app-action-work-process [item]="selectedItem" [emp_no]="emp_no" (processStatus)="getStateClear($event)"></app-action-work-process>
				</div>
			</div>
		</div>
	</div>
</div>