<strong>Comfirm last job ::</strong>
<mat-form-field>
	<input matInput maxlength="13" type="text" placeholder="Job No." name="jobno" [(ngModel)]="jobno"
		(input)="mark($event)" (keyup.enter)="submitJobNo()"
	>
</mat-form-field>