<form class="form-inline was-validated" #formRef="ngForm" (ngSubmit)="submitForm(formRef)">
	<div class="form-group col-md-2 col-xs-12 col-sm-12 m-1">
		<label for="wo_no"><strong>Wo/No.::</strong></label>
	</div>
	<div class="form-group col-md-5 col-xs-12 col-sm-12 m-1">
		<input type="text" 
			class="form-control w-100"
			id="wo_no" 
			name="wo_no"
			[(ngModel)]="wo_no"
			#wo_noRef="ngModel"
			placeholder="Wo No."
			minlength="10"
			required
			autofocus />
		<div *ngIf="wo_noRef.dirty && wo_noRef.invalid" class="invalid-feedback">You must enter a wo no.</div>
	</div>
	<div class="form-group col-md-2 col-xs-12 col-sm-12">
		<button type="submit"
			class="btn btn-secondary"
			[disabled]="formSubmitted && wo_noRef.invalid">Get Data</button>
	</div>
</form>