<form class="was-validated" #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
	<div class="form-row">
		<div class="form-group col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
			<label for="p_date"><strong>Plan Date</strong></label>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="yyyy-mm-dd" (click)="d.toggle()" [firstDayOfWeek]="7"
					id="p_date" name="p_date" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" autofocus required />
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
					<img src="/assets/img/annual-calendar-symbol.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
					</button>
				</div>
			</div>
			<!--
			{{ jsonDatePicker }}
			-->
			<div *ngIf="formRef.dirty && formRef.invalid" class="invalid-feedback">You must enter a plan date.</div>
		</div>
		
		<div class="form-group col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
			<label for="p_machine"><strong>Plan Machine</strong></label>
			<select class="form-control" 
				id="p_machine"
				name="p_machine"
				[(ngModel)]="p_machine"
				required>
				<option>Choose...</option>
				<option *ngFor="let mc of machine"
					value="{{ mc.mcp }}"
					>
					{{ mc.mcp }} ({{ mc.ind }})
				</option>
			</select>
		</div>
		<div class="form-group col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
			<label for="p_shift"><strong>Plan Shift</strong></label>
			<select class="form-control"
				id="p_shift"
				name="p_shift"
				[(ngModel)]="p_shift"
				required>
				<option value="Day">Day</option>
				<option value="Night">Night</option>
			</select>
		</div>
		<button type="submit" class="btn btn-secondary"
			[disabled]="formSubmitted && formRef.invalid">Search</button>
	</div>
</form>