<div class="container-fluid mt-1">
	<div class="card w-100 border-dark">
		<h3 class="card-header text-white bg-dark">Issue Plan</h3>
		<div class="card-body">
			<mat-tab-group class="demo-tab-group">
				<mat-tab label="Confirm Issue Plan">
					<div class="demo-tab-content">
						<div class="row pb-5">
							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-2">
								<app-issue-plan-confirm (machine)="machine=$event" 
									(date)="date=$event" 
									(dateFormat)="dateFormat=$event" 
									(shift)="shift=$event"></app-issue-plan-confirm>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 pt-1">
								<app-show-issue-plan [machine]="machine" 
									[date]="date" 
									[shift]="shift" 
									[dateFormat]="dateFormat"
									(showLoader)="showLoader=$event"></app-show-issue-plan>
							</div>
						</div>
					</div>
				</mat-tab>
				<mat-tab label="Check Issued Plan">
					<div class="demo-tab-content">
						<div class="row pb-5">
							<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 pt-2">
								<app-issued-plan-search 
									(date)="dateIssued=$event"
									(machine)="machineIssued=$event"
									(dateFormat)="dateFormatIssued=$event"></app-issued-plan-search>
							</div>
							<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12 pt-1">
								<app-show-issued-plan [machine]="machineIssued" 
									[date]="dateIssued"
									[dateFormat]="dateFormatIssued"
									(showLoader)="showLoader=$event"></app-show-issued-plan>
							</div>
						</div>
					</div>
				</mat-tab>
			</mat-tab-group>
		</div>
	</div>
</div>

<router-outlet>
    <span *ngIf="showLoader" class="loading"></span>
</router-outlet>