<div class="card" id="print-section">
	<h5 class="card-header bg-default">
		<span class="float-md-left float-xs-left">
			List Plan <span class="badge badge-primary badge-pill list-group-item-primary">{{ _listIssuedPlanArray.length }}</span> Issued of '{{ currentDateFormat }}' 
			<button class="btn btn-primary btn-sm "
				(click)="print()">Print</button>
		</span>
		<div class="float-right">
			<input type="text" class="form-control input-sm form-control-sm" [(ngModel)]="jobSearch" (input)="filterJobList()">
		</div>
	</h5>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-sm table-bordered small" 
				[ngStyle]="{'pointer-events': (_confirmItem | json) != '{}' ? 'none' : 'auto'}"
				>
				<caption>List plan of '{{ currentDateFormat }}'</caption>
				<thead class="text-center">
					<tr>
						<th scope="col">Job No.</th>
						<th scope="col">Seq</th>
						<th scope="col">Plan Date</th>
						<th scope="col">Shift</th>
						<th scope="col">Part No.</th>
						<th scope="col">Cus Code</th>
						<th scope="col">Wo/No.</th>
						<th scope="col">Seiban</th>		
						<th scope="col">Item cd.</th>
						<th scope="col">FG Item cd.</th>
						<th scope="col">Qty</th>
						<!--
						<th scope="col">LINE</th>
						<th scope="col">SHIFT</th>
						<!--
						<th scope="col">NEXT PROCESS</th>
						-->
						<th scope="col">State</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="_listIssuedPlanArray.length; else noList">
						<tr *ngFor="let plan of _listIssuedPlanArray; let i=index;" class="text-sm-left small"
							(click)="plan.state.trim() === '' || plan.state.trim() == 'Pending' ? chooseList(plan) : ''"
							[class.table-active]="issueSelected != null && issueSelected === plan"
							[class.text-muted]="issueSelected != null && issueSelected !== plan"
							[ngClass]="{
								'text-white': plan.state.trim() != '',
								'bg-success': plan.state.trim() == 'Finish',
								'bg-warning': plan.state.trim() == 'On Process',
								'text-red': plan.state.trim() == 'Pending'
							}"
							>
							<!--
							<td>{{ i+1 }}</td>
							-->
							<td class="text-center">{{ plan.jobno }}</td>
							<td class="text-center">{{ plan.seqno }}</td>
							<td class="text-center">{{ plan.u_plan_date }}</td>
							<td class="text-center">{{ plan.u_shift }}</td>
							<td class="text-center">{{ plan.i_plan_remark1 }}</td>
							<td class="text-center">{{ plan.i_sch_lot_no }}</td>
							<td>{{ plan.i_po_detail_no }}</td>
							<td>{{ plan.i_seiban }}</td>
							<td>{{ plan.i_sim_item_cd }}</td>
							<td>{{ plan.i_plan_item_cd }}</td>
							<td class="text-right">{{ plan.i_sim_po_qty | number: '1.2-2' }}</td>
							<!--
							<td>{{ plan.i_line }}</td>
							<td>{{ plan.i_shift }}</td>
							<!--
							<td>{{ plan.next_station }}</td>
							-->
							<td>{{ plan.state }} </td>
						</tr>
					</ng-container>
					<ng-template #noList>
						<tr class="text-muted text-center small">
						<ng-container *ngIf="_loading; else notFound">
							<td colspan="12">Loading...</td>
						</ng-container>
						<ng-template #notFound>
							<td colspan="12">Not found any plan issued.</td>
						</ng-template>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>
	</div>
</div>
