<div class="card">
	<h5 class="card-header bg-default">
		<span class="float-md-left float-xs-left">Plan with '{{ machine || '-'}}' on {{ dateFormat || '-' }}</span>
		<button class="btn btn-primary btn-sm float-right text-white"
			[disabled]="!_postIssuePlanArray.length || alertClose"
			(click)="confirmIssuePlan(date, machine, shift)">Confirm Issue Plan</button>
	</h5>
	<div class="card-body">
		<p>
			<ngb-alert *ngIf="_confirmIssuePlan == true && !alertClose" [type]="'success'" (close)="alertClose=true">
				<strong>Successful !</strong> Your plan revision is <strong>{{ _confirmRevision }}</strong>.
			</ngb-alert>
		</p>
		<div class="table-responsive-sm">
			<table class="table table-sm table-bordered small">
				<caption>List plan of '{{ dateFormat || '-'}}' on '{{ machine || '-' }}'</caption>
				<thead class="text-center">
					<tr>
						<!--
						<th scope="col">#</th>
						-->
						<th scope="col">Seq</th>
						<th scope="col">Wo/No.</th>
						<th scope="col">Seiban</th>
						<th scope="col">Item cd.</th>
						<th scope="col">Qty</th>
						<th scope="col">Machine</th>
						<th scope="col">Line</th>
						<th scope="col">Shift</th>
						<th scope="col">Bom Machine</th>	
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="_postIssuePlanArray.length; else noList">
						<tr *ngFor="let plan of _postIssuePlanArray; let i=index">
							<!--
							<td>{{ i+1 }}</td>
							-->
							<td class="text-center">{{ plan.seqno }}</td>
							<td>{{ plan.i_po_detail_no }}</td>
							<td>{{ plan.seiban }}</td>
							<td>{{ plan.i_sim_item_cd }}</td>
							<td class="text-right">{{ plan.i_sim_po_qty | number: '1.2-2' }}</td>
							<td>{{ plan.mc }}</td>
							<td>{{ plan.line }}</td>
							<td>{{ plan.shift }}</td>
							<td>{{ plan.i_sim_ind_content }}</td>
						</tr>
					</ng-container>
					<ng-template #noList>
						<tr class="text-muted text-center">
							<ng-container *ngIf="_loading; else noFound">
								<td colspan="9">Loading...</td>
							</ng-container>
							<ng-template #noFound>
								<td colspan="9">No any plan of {{ dateFormat || '-'}} on {{ machine || '-' }} </td>
							</ng-template>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>
	</div>
</div>