<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>{{ title }}</p>
</div>
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()" cdkFocusInitial>Close</button>
</mat-dialog-actions>