<strong>Move Job ::</strong>
<mat-form-field>
	<input matInput maxlength="13" type="text" placeholder="Job No." name="jobno" [(ngModel)]="jobno">
</mat-form-field>

<mat-form-field>
	<input matInput maxlength="6" type="text" placeholder="Emp No. (Leader)" name="empno" [(ngModel)]="empno">
</mat-form-field>

<button (click)="moveJob()" mat-raised-button color="primary">Move Job</button>
