<div class="example-container mat-elevation-z8">
	<div class="example-header">
		<div class="header-pd"
			fxLayout="row"
			fxLayout.xs="row"
			fxLayoutAlign="center"
			fxLayoutGap="10px"
			fxLayoutGap.xs="0"
			fxLayoutWrap
			>
			<header [ngxFitText]>
				<strong [ngStyle]="{'text-align': 'center'}"><u>SHIFT A</u>&nbsp;2018-04-20</strong>
			</header>		
		</div>
	</div>

	<mat-table #table [dataSource]="dataSource">
		<!-- Position Column -->
		<ng-container matColumnDef="position">
			<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '0 0 5%'}">
				<div fxLayoutWrap>
					<label [ngxFitText]="0.3">{{ element.position | number }}.</label>
				</div>
			</mat-cell>
		</ng-container>

		<!-- i_item_cd & i_trade_item_cd Column -->
		<ng-container matColumnDef="item">
			<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '0 0 40%'}">
				<div fxLayoutWrap>
					<label [ngxFitText]="1">{{ element.i_item_cd }}</label>
					<!--
					<span [ngxFitText]="0.5"><strong><u>PART NO</u></strong></span>
					<mat-divider [vertical]="true"></mat-divider>
					<span [ngxFitText]><strong>{{ element.i_trade_item_cd }}</strong></span>
					-->
				</div>
			</mat-cell>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="time">
			<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '0 0 30%'}">
				<div fxLayoutWrap>
					<strong [ngxFitText]="1"><u>STD START TIME - STD END TIME</u></strong>
					<mat-divider [vertical]="true"></mat-divider>
					<strong [ngxFitText]>{{ element.std_start_time }} - {{ element.std_end_time }}</strong>
					<mat-divider [vertical]="true"></mat-divider>
					<strong [ngxFitText]="1"><u>ACT START TIME - ACT END TIME</u></strong>
					<mat-divider [vertical]="true"></mat-divider>
					<strong class="act_qty" [ngxFitText]>{{ element.act_start_time }} - {{ element.act_end_time }}</strong>
				</div>
			</mat-cell>
		</ng-container>
		
		<ng-container matColumnDef="qty">
			<mat-cell *matCellDef="let element" [ngStyle]="{'flex': '0 0 25%'}">
				<div fxLayoutWrap [ngStyle]="{'text-align': 'right'}">
					<strong [ngxFitText]="1.3">{{ element.plan_qty | number }}</strong>
					<mat-divider></mat-divider>
					<strong class="act_qty m-t-1" [ngxFitText]="0.8">{{ element.act_qty | number }}</strong>
				</div>		
			</mat-cell>
		</ng-container>
		<mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngStyle]="{'background-color': i%2===0 ? '#668cff' : '#1a53ff'}"></mat-row>
	</mat-table>
</div>