<h1 mat-dialog-title>
	<strong>Job / Issue Slip No. ::</strong>
	<mat-form-field>
		<input matInput [(ngModel)]="_jobno" minlength="13" maxlength="13" (keydown.enter)="inputJobNo($event.target.value)" cdkFocusInitial />
	</mat-form-field>
</h1>
<mat-divider></mat-divider>
<div class="table-responsive">
	<table class="table table-sm table-bordered small">
		<thead class="text-center">
			<th>#</th>
			<th>Job No.</th>
			<th>Item Cd.</th>
			<th>Qty</th>
			<th></th>
		</thead>
		<tbody>
			<ng-container *ngIf="_listMat.length > 0; else noList">
				<tr class="text-sm-left small" *ngFor="let r of _listMat; let i=index"
					[ngClass]="{
						'text-white': isMatInListPs(r),
						'bg-success': isMatInListPs(r),
						'text-red': !isMatInListPs(r)
					}"
					>
					<td>{{ i+1 }}</td>
					<td>{{ r.jobno }}</td>
					<td>{{ r.i_sim_item_cd }} </td>
					<td class="text-sm-right">{{ r.i_po_qty | number: '1.2-2' }}</td>
					<td><button (click)="clickDeleteMat(r)">-</button></td>
				</tr>
			</ng-container>
			<ng-template #noList>
				<tr class="text-muted text-center small">
				<ng-container *ngIf="_loading; else notFound">
					<td colspan="5">Loading...</td>
				</ng-container>
				<ng-template #notFound>
					<td colspan="5">Not have any job or issue slip.</td>
				</ng-template>
				</tr>
			</ng-template>
		</tbody>
	</table>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Close</button>
	<button mat-button [mat-dialog-close]="_listMatUse" [disabled]="checkLength()">Ok</button>
</div>