<mat-divider></mat-divider>
<div>
	<mat-radio-group (change)="switchLastShift($event)">
		<mat-radio-button value="last">Last Shift</mat-radio-button>
		<mat-radio-button value="current" checked="true" >Current Shift ({{ currentDateFormat }})</mat-radio-button>
	</mat-radio-group>
</div>
<mat-divider></mat-divider>
<mat-table #table [dataSource]="dataSource" [ngStyle]="{'text-align': 'center'}">
	
	<ng-container *ngFor="let col of displayedColumns" matColumnDef="{{ col }}">
		<mat-header-cell *matHeaderCellDef 
			[ngClass]="{
				'text-white': true,
				'px-1': true
			}"><h3><strong [ngxFitText]="3">{{ col }}</strong></h3>
		</mat-header-cell>
		<mat-cell *matCellDef="let element"
			[ngClass]="{
				'px-1': true
			}">
			<div *ngIf="col == 'M/C'; else displayTime">
				<h4><strong [ngxFitText]="3">{{ element.mcp }}</strong></h4>
			</div>
			<ng-template #displayTime>
				<div [ngStyle]="{'display': 'flex', 'flex-wrap': 'wrap'}">
					<ng-container *ngFor="let source of element.result[col.toString()]; let i=index">
						<div [matTooltip]="(source.time.state.trim() === 'Finish') ? 'Finished on ' + source.time.prc_end : 'Start on ' + source.time.prc_start"
							[ngClass]="{
								'text-center, divOutput': true,
								'bg-success': (source.time != null) && (source.time.state.trim() === 'Finish'),
								'bg-warning': (source.time != null) && (source.time.state.trim() === 'On Process'),
								'col-auto m-1': true
							}">
							<h5 [ngClass]="{
									'text-white': true
								}">
								<strong [ngxFitText]>{{ (source.jobno != null) ? source.jobno : "-" }}</strong>					
							</h5>
							<mat-divider></mat-divider>
							<h6 [ngClass]="{
								'text-white': true
							}">
								<strong [ngxFitText]>{{ (source.i_po_detail_no != null) ? source.i_po_detail_no : "" }}</strong>
							</h6>
							<mat-divider></mat-divider>
							<h6 [ngClass]="{
								'act_qty': (source.time != null) && (source.time.state.trim() === 'Finish')
								}">
								<strong>{{ ((source != null) ? source.i_sim_po_qty  : "") | number: '1.2-2' }}</strong>
							</h6>
							<small [ngClass]="{
								'text-white': true
							}"><u>{{ ((source != null) ? source.client_name  : "") }}</u></small>
						</div>
					</ng-container>
				</div>
			</ng-template>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns" 
			[ngClass]="{
				'bg-primary': true
			}"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns"
			[ngClass]="{
				'bg-light': true
			}"></mat-row>
</mat-table>