<div class="card">
	<h5 class="card-header bg-default">
		<span class="float-md-left float-xs-left">Issued Plan with '{{ in_machine || '-'}}' on {{ in_dateFormat || '-'}}</span>
	</h5>
	<div class="card-body">
		<div class="table-responsive-sm">
			<table class="table table-sm table-bordered small">
				<caption>List issued plan of '{{ in_dateFormat || '-'}}' on '{{ in_machine || '-' }}'</caption>
				<thead class="text-center">
					<tr>
						<!--
						<th scope="col">#</th>
						-->
						<th scope="col">Seq</th>
						<th scope="col">Sch Lot</th>
						<th scope="col">Remark</th>
						<th scope="col">Wo/No.</th>
						<th scope="col">Seiban</th>
						<th scope="col">Item cd.</th>
						<th scope="col">Qty</th>
						<th scope="col">Machine</th>
						<th scope="col">Line</th>
						<th scope="col">Shift</th>
						<th scope="col">Bom Machine</th>
						<th scope="col">State</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="_postIssuedPlanArray.length; else noList">
						<tr *ngFor="let plan of _postIssuedPlanArray; let i=index"
							[ngClass]="{
								'text-white': plan.state.trim() != '',
								'bg-success': plan.state.trim() == 'Finish',
								'bg-warning': plan.state.trim() == 'On Process',
								'bg-danger': plan.state.trim() == 'Not Process'
							}"
							>
							<!--
							<td>{{ i+1 }}</td>
							-->
							<td class="text-center">{{ plan.seqno }}</td>
							<td>{{ plan.i_sch_lot_no }}</td>
							<td>{{ plan.i_plan_remark1 }}</td>
							<td>{{ plan.i_po_detail_no }}</td>
							<td>{{ plan.i_seiban }}</td>
							<td>{{ plan.i_sim_item_cd }}</td>
							<td class="text-right">{{ plan.i_sim_po_qty | number: '1.2-2' }}</td>
							<td>{{ plan.i_plan_ind_content }}</td>
							<td>{{ plan.i_shift }}</td>
							<td>{{ plan.i_shift }}</td>
							<td>{{ plan.i_sim_ind_content }}</td>
							<td>{{ plan.state }}</td>
						</tr>
					</ng-container>
					<ng-template #noList>
						<tr class="text-muted text-center">
							<ng-container *ngIf="_loading; else noFound">
								<td colspan="12">Loading...</td>
							</ng-container>
							<ng-template #noFound>
								<td colspan="12">No any plan of {{ in_dateFormat || '-'}} on {{ in_machine || '-' }} </td>
							</ng-template>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>
	</div>
</div>