<div class="card">
	<h5 class="card-header bg-default">
		<span class="float-md-left float-xs-left">Job No. '{{ jobNo || '-'}}'</span>
		<button class="btn btn-primary btn-sm float-right"
			[disabled]="confirmItem || getSelectedItem() == null"
			(click)="chooseItem()" >Confirm item</button>
	</h5>
	<div class="card-body">
		<div class="table-responsive-md"> 
			<table class="table table-sm table-bordered small">
				<caption>List items of work order</caption>
				<thead class="text-center">
					<tr>
						<th scope="col">#</th>
						<!--
						<th scope="col">JOB NO.</th>
						-->
						<th scope="col">Item cd.</th>
						<th scope="col">Part no.</th>
						<th scope="col">Customer cd.</th>
						<th scope="col">Qty</th>
						<th scope="col">Next Process</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="_postWorkProcessArray.length; else noList">
						<tr *ngFor="let list of _postWorkProcessArray; let i=index;" class="text-sm-left small"
							[class.table-active]="rowSelected != null && rowSelected == i"
							[class.text-muted]="rowSelected != null && rowSelected != i"
							[hidden]="confirmItem == true && rowSelected != i"
							>
							<td>
								<div class="custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="selectedItem{{ i }}"
									[disabled]="confirmItem == true && rowSelected == i"
									[checked]="rowSelected == i"
									(change)="chooseListItem($event, list, i)" >
									<label class="custom-control-label" for="selectedItem{{ i }}"></label>
								</div>
							</td>
							<!--
							<td scope="row">{{ list.jobno }}</td>
							-->
							<td scope="row">{{ list.i_sim_item_cd }}</td>
							<td>{{ list.i_plan_remark1 }}</td>
							<td>{{ list.i_sch_lot_no }}</td>
							<td>{{ list.i_po_qty | number: '1.2-2' }}</td>
							<td>{{ list.next_station }}</td>
						</tr>
					</ng-container>
					<ng-template #noList>
						<tr class="text-muted text-center small">
						<ng-container *ngIf="_loading; else notFound">
							<td colspan="7">Loading...</td>
						</ng-container>
						<ng-template #notFound>
							<td colspan="7">Not found any plan issued.</td>
						</ng-template>
						</tr>
					</ng-template>
				</tbody>
			</table>
		</div>
	</div>
</div>